.hotWrapper1
     width: 16px;
     height: 16px;
     position: relative;
     left: 20px;
     top: 50px;
     text-align: center;
     &:before
         width: 16px;
         height: 16px;
         display: block;
         position: absolute;
         background-color: #BD0000;
         content: "沸";
         color: #ffffff;
         font-size: 10px;
.hotWrapper2
     width: 16px;
     height: 16px;
     position: relative;
     left: 20px;
     top: 50px;
     text-align: center;
     &:before
         width: 16px;
         height: 16px;
         display: block;
         position: absolute;
         background-color: #FF9933;
         content: "热";
         font-size: 10px; 
         color: #ffffff;
.hotWrapper3
     width: 16px;
     height: 16px;
     position: relative;
     left: 20px;
     top: 50px;
     text-align: center;
     &:before
         width: 16px;
         height: 16px;
         display: block;
         position: absolute;
         background-color: #FF3852;
         content: "新";
         color: #ffffff;
         font-size: 10px;