 .navWrapper
    height 2.5rem
    font-size 0.92rem
    letter-spacing 1px
    color gray
    .ulWrapper
        display flex
        flex-direction row
        align-content center
        justify-content space-around
        height 2.5rem
        line-height 2.5rem
        .nav-item
           display inline-block
        .active
           color #1E1E1E
           position relative
           &:before
              width: 2.8rem;
              height: 2.1rem;
              content: "";
              display: block;
              position: absolute;
              border-top: 2.6px solid #FE8C02;
              top: 2.26rem;
              left: 0.05rem;
        .noactive
            color gray 
/* .navWrapper {
    height: 2.5rem;
    font-size: 0.92rem;
    letter-spacing: 1px;
    color: #D6D6D6;
}
.ulWrapper {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        height: 2.5rem;
        line-height: 2.5rem;
}
.nav-item {
     display: inline-block;
}
.active {
     color: #1E1E1E;
   
     position: relative;
}
.active:before {
     width: 2.83rem;
     height: 2.1rem;
     content: "";
     display: block;
     position: absolute;
     border-top: 2.6px solid #FE8C02;
     top: 2.26rem;
     left: 0.05rem;
}
.noactive {
      color: gray;
} */