.NewDateWrapper
    width 100%
    height 50rem
    .inWrapper
        width 100%
        height 99.5rem
        .inWrapper-item
            margin-top 1rema
            margin-left 1rem
            position relative
            .item-cover
                width 6.2rem
                height 6.2rem
                .coverImg
                    width 6.2rem
                    height 6.2rem
            .item-title
                position absolute
                left 7rem
                top .75rem
            .item-desc
                position absolute
                left 7.1rem
                top 2.6rem
                font-size 0.85rem
                color gray
             